#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text working-tree-encoding=UTF-16 eol=crlf
*.vbs           text working-tree-encoding=UTF-16 eol=crlf
